body {
  font-family: "Open Sans Condensed";
  padding: 20px 60px;
  background-image: linear-gradient(#ffefba, #ffffff);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}
